[2022-09-16 19:47] Palmke opened #216 "[Bug]: T8410 disconnects throughout the day"
### Client version

develop branch

### Node version

v16.17.0

### Operating System type

Linux

### Operating system version

Dockerfile through eufy-security-client-ws

### Describe the bug

According to my logging, the T8410 PT device disconnects numerous times throughout the day:
[code]

I have captured logging of an two instances where this happened. Note that the first time it happens is ar

[2022-09-17 09:12] smitty078 commented on #215
In the additional context your reference a pull request. This is absolutely the cause of the issue. The user that submitted the or fixed the issue for what appears to be an 8420X (floodlight 2k - firmware version is 2.x.x.x) which is distinctly different from the 8420 (floodlight, not 2k - firmware versions at 1.x.x.x).

The code in the pr implements a check by matching serial number starts with T

[2022-09-17 09:19] thieren commented on #215
@smitty078 Thx for checking. I too believe this to be the cause.

I've created a PR to fix this: https://github.com/bropat/eufy-security-client/pull/217

Can you test this by any chance?

[2022-09-17 10:26] bropat commented on #208
@etorr

Could you restart the device one more time and let me know?

Thanks!

[2022-09-17 10:31] bropat commented on #216
@Palmke

Do you use Hyper-V?

[2022-09-17 11:37] Palmke commented on #216
I'm running in Docker on a Raspberry Pi 4.
I don't use virtual machines or anything, just Docker on Pi OS.

[2022-09-17 14:42] etorr commented on #208
Restarted again, Thank You for working on it!

[2022-09-17 18:26] smitty078 commented on #215
Can confirm your new PR fixes my issue.

Side note: any reason not to change:
`(device.getSerial().startsWith("T8420") && isGreaterEqualMinVersion('2.0.4.8', this.getSoftwareVersion()))`

To this:
`this.getModel() === "T8420X"`

Using model number may be more resilient to future serial number and/or firmware version changes that are out of your control. At the same time, going _only_ by model numb

[2022-09-17 18:29] smitty078 commented on #215
I also see other opportunities within the code where the 8420 is an oddball where there are firmware checks to differentiate the several models of 8420 that are out there. There may be an opportunity to refactor to support different models of the 8420 as completely separate devices rather that implementing one-off checks throughout different areas of the code. This of course is outside the scope o

[2022-09-17 18:44] bropat commented on #211
As @PhilippEngler already wrote, it's already possible.

[2022-09-17 18:44] #211 closed

[2022-09-18 07:30] thieren commented on #215
@smitty078 I think you're right. Checking against only the model should in theory resolve the issue just as well.
As for why I used this approach: I did follow the pattern of the other parts of the source. So the overall decision would have to be made by @bropat I think.

[2022-09-18 09:49] bropat commented on #215
@smitty078 @thieren

In the original source code from Eufy, the firmware version is queried for some devices and a decision is made based on this as to which command is sent. From this I conclude that some devices can send the respective command differently after a firmware update.

For this reason, I find @thieren's last suggestion better, which is following the pattern of the other parts of the

[2022-09-18 09:52] bropat commented on #208
@etorr

**Small update:**

In the meantime, basic communication with the unit has been implemented. The first commands already work, such as locking and unlocking the device.

[2022-09-18 09:57] bropat commented on #204
**Small update:**

Thanks to @fabianluque, almost all the desired functionalities have now been roughly implemented. These still need to be refined and tested.

[2022-09-18 10:09] bropat commented on #213
@MrIngenieur

Yes, you have captured everything correctly. In the log I have seen the following error that occurs during streaming and that terminates the ffmpeg process with an error, whereupon the adapter is restarted.

Internal exception:

[code]

Terminating ffmpeg process:

[code]

But at the moment I can't say what is causing it.

[2022-09-18 12:24] fabianluque commented on #204
@bropat Thank you! You still need access for a few more days?

[2022-09-18 18:26] bropat commented on #204
@fabianluque yes, please.
I will let you know as soon as I no longer need it.

[2022-09-18 19:13] quorea opened #218 "[Feature request]: Add support for T8200X"
### Client version

2.2.0-beta4

### Node version

4.50.1

### Operating System type

Mac OS X

### Operating system version

monterey 12.5.1

### Describe the bug

Hello Bropat,

Thanks so much for sharingg your ingenuity and support.

My eufy doorbell 2k (wired) has been refusing to work on homebridge. So far, Thieren has been assisting to diagnose the problem. After looking at the logs what s(h

[2022-09-18 20:17] AnAnonymousUsername opened #219 "[Feature request]: Support Garage-Control Cam"
### Describe the solution you'd like

Please add support for the newly released [Garage-Control Cam](https://us.eufy.com/products/E84521W1).

[2022-09-19 00:24] mwexcell opened #220 "[Feature request]: T8530 Smart Lock w/ video, code, and fingerprint access - and base station (T8021)"
### Describe the solution you'd like

I have a brand new T8530. Looks like it isn't supported. Can I help get support for this device added?

I've followed the instructions for setup. It is running the latest Firmware: 1.1.5.4 as of 9/17.

I would be happy to share my Eufy home with you (this, and the base for it, are the only Eufy devices I currently have), if this is something that is doable. I

[2022-09-19 18:41] bropat commented on #220
@mwexcell

Yes, by sharing the device with me, but at the moment you have to be a bit patient as I am already implementing other devices.

[2022-09-19 18:42] bropat commented on #220
As soon as I can take care of it, I will get back to you.

[2022-09-19 18:44] bropat commented on #219
I need access to the device to implement it, but at the moment I am already implementing other devices.
If you want to share the device with me, I'll get back to you as soon as I can take care of it.
Let me know.

[2022-09-19 18:48] mwexcell commented on #220
No problem. Let me know when you are ready, and I'll share the device with you.

[2022-09-20 06:17] Palmke commented on #216
Nothing changed. Still disconnects. I'm going to keep track of the times it disconnects for longer than the 5 second reconnect delay.

[2022-09-20 13:15] AnAnonymousUsername commented on #219
Sure, just let me know when and what I need to do.

[2022-09-21 05:46] thieren commented on #218
Hi @bropat

@quorea is obviously referring to the homebridge plugin as you have certainly already guessed. Sorry there seems to be some confusion with the users as to where to get started with the bug reports.

As mentioned @quorea and I where already debugging this but I hit a dead end. He is getting 'ERROR_INVALID_ACCOUNT' responses although trying different accounts (main and guest accounts als

[2022-09-21 07:15] Palmke commented on #216
Sent in a support request and I also see an additional report here:
https://github.com/fuatakgun/eufy_security/issues/448
https://github.com/fuatakgun/eufy_security/issues/426

Perhaps it's eufy server configuration causing problems.

[2022-09-22 00:38] MXKLZL opened #222 "[Feature request]: Retrieve keypad input"
### Describe the solution you'd like

It would be great if we could retrieve the numeric input of the keypad and use that to trigger some other automation. Thanks for the consideration!

related request to eufy_security:
https://github.com/fuatakgun/eufy_security/issues/456

[2022-09-22 11:26] thieren opened #223 "[Bug]: Ring notification on dual doorbell is not processed"
### Client version

2.2.0-rc.2

### Node version

all

### Operating System type

Other

### Operating system version

all

### Describe the bug

As described [here](https://github.com/homebridge-eufy-security/plugin/issues/167) the ring notification is not processed (and therefore the appropriate event is not emitted) by the library for certain doorbells.

As can be seen in the logs the client re

[2022-09-23 09:11] billyj85 commented on #209
Happy to give you access, please let me know an email account to add you as a guest to access the cameras. Or do you need a physical device. my email is wilburwild85@gmail.com

[2022-09-24 20:00] atlflyer commented on #220
I also have this device and am willing to share/help.

[2022-09-25 08:36] royakaacky opened #224 "[Question]: Documentation not found"
### Ask your question

Hello, i cannot found any documentation of this project. I cannot find, how to use it. I found a list of the features. But not how i can use it. Where i can find this? For example, how i can connect to my station.

[2022-09-27 08:46] modogo2000 commented on #220
I.m willing to help too I have the device

[2022-09-27 15:12] aymeric106 commented on #197
Damn after a while I finally find why ... I'm running a VM image on Hyper-v .
This fixed it
-> ethtool --offload eth0 rx off tx off

See here
https://github.com/bropat/eufy-security-client/issues/185
https://github.com/bropat/eufy-security-ws/issues/130

[2022-09-28 17:48] thieren commented on #224
Hi @royakaacky

Maybe you've found this already, but there is literally another 'Documentation' issue on this repo: #1

[2022-10-01 15:33] cchchris commented on #220
Also willing to help if needed

[2022-10-02 03:32] dastorie opened #226 "[Feature request]: Support Eufy Smart Lock Solo / D20 ( T8501 )"
### Describe the solution you'd like

This lock has built-in, so just curious if it is working as expected and can be added to the list of supported devices.

[2022-10-02 14:23] massive opened #227 "[Bug]: T8420 All address lookup tentatives failed"
### Client version

0.9.4 / 2.1.2

### Node version

any

### Operating System type

Other

### Operating system version

Home Assistant OS 9.0

### Describe the bug

I'm trying to connect to a recently purchased Eufy Floodlight (T8420) via Home Assistant Eufy Security Add-on (0.9.4), and the client refuses to connect to this particular camera. Other 3 cameras work fine, and I'm able to access the

[2022-10-02 14:24] gmogoody opened #228 "[Feature request]: Support for Homebase 3 [S380] and eufyCam 3 [S330]"
### Describe the solution you'd like

I have been using the plugin for years. Just pulled the trigger to update my Homebase 2 to Homebase 3. Look forward to continuing to use the plugin once you have time to add support.

Originally just looking for equivalence support as homebase 2.

Once I receive mine I can also work with Devs on collecting logs etc.

Setup: Homebridge running in Docker on Syno

[2022-10-03 20:12] mahst68 commented on #228
+1. Please add HomeBase 3

[2022-10-05 06:15] gabrielcsapo commented on #228
Everything seems to work except for DeviceEnabled

[code]

Looking into this now.

[2022-10-05 07:00] gabrielcsapo commented on #228
Looking at the camera connected to the s380 I get

[code]

When I query a camera connected to a base station 2

[code]

[2022-10-05 07:02] gabrielcsapo commented on #228
so enabled is just not queryable when the camera is connected to the s380 base station, this might be a bug on the base station side.

[2022-10-05 07:43] mahst68 commented on #228
That sucks. Not surprised though… running some RTSP tests, apparently it kills RTSP for the cameras after 15 seconds then requires you to go back into camera settings to re-enable RTSP. We are assuming it had to do with solar power and eufy unwillingness to let batteries drain due to promoting “forever power” on these new cameras. Curiously, it gave me an option to pair the new camera with the old

[2022-10-05 08:00] michaeleberhardt commented on #228
Does P2P Discovery work for you? For my S380, P2P Discovery always fails..

[2022-10-05 16:42] gabrielcsapo commented on #228
Fails for me as well

[2022-10-05 19:38] Palmke commented on #228
Probably doesn't work because it's a new type of homebase, not like any we've seen with the first one, E, 2 or those doorbell base stations.
If one of you knows how to read the app's code, you can probably find out how it works.
It will work eventually (using the same communication protocol), as it integrates with almost every camera this client already supports.

[2022-10-05 19:42] gabrielcsapo commented on #228
Yeah most probably it will be fixed, probably good to flag it as it doesn't work right due to API differences between it and the home base 2. I will keep mine in the box for the time being. Hopefully end of October with the support of more cameras they add support for HomeKit.

[2022-10-05 21:13] raneses commented on #228
Throwing my hat in the ring to get this update in place -- let me know how I can help. For context, we just picked up a pair of EufyCam S330 including the HomeBase 3.

[2022-10-06 11:50] phairplay commented on #227
Hi,
I've come here with the same issue yet for the T8410 Pan and Tilt camera.
I'm able to see the device in Home Assistant, yet I'm unable to adjust any of the settings.

I also have the battery door camera and homebase and they connect without error and I'm able to adjust the settings without issue.

[code]

[2022-10-06 13:11] kaesi-jones commented on #228
I got 2 EufyCam S330 and a S380 HomeBase at the weekend and can integrate everything. However, I have a problem with the "Guard Mode". When I set this via the variable, the "Current Mode" does not change. This worked without problems with the HomeBase 2. Does anyone have an idea how to solve the problem?

[2022-10-07 08:25] Maddin1684 commented on #228
Hey, my S330 is on track…
Do you have integrated it with the HB Plugin? So you can see the „Camera“ in HomeKit?

[2022-10-07 08:34] kaesi-jones commented on #228
I use the "eusec" adapter in io.broker

[2022-10-07 08:47] Palmke commented on #228
If you read the guard mode flag from the raw properties you get from the web API, is it the currently known p2p parameter that is used in this client?
Perhaps the S380 uses a different parameter for guard mode or requires a different channel to set it.

[2022-10-07 13:22] michaeleberhardt commented on #228
As far as I understand, the current status can be read via HTTP API. When changing a value, this is done via P2P. As P2P-Discovery does not work for Homebase 3 yet, new values cannot be sent to the base.

[2022-10-07 19:42] ekoppen commented on #227
Hi, I have the same issue with a T8222 doorbell and chime (T8020). I've tried several setups. At first I thought it could be mDNS or vlanning. Now in the same network with a supervisor install of HA an a dockerized install I have the same issue:

I looks to be a one way issue any changes I make with the app on my phone do come up in the logging:

{
  guard_mode: 1,
  current_mode: 1,
  stationSN:

[2022-10-07 19:53] ekoppen commented on #227
Installed the rc version and that does work!

[2022-10-07 20:01] phairplay commented on #227
@ekoppen
What's the rc version?

[2022-10-07 21:32] ekoppen commented on #227
https://hub.docker.com/layers/bropat/eufy-security-ws/1.0.0-rc.1/images/sha256-4aa0d55924a745dc3426a0ac152bffe57fb0af93a08afa6cd77ea71bffc3f1dd?context=explore

[2022-10-07 21:52] phairplay commented on #227
Ah okay, I'm linked to fuatakgun version for HA OS.
Would really like a fix so I can use this as part of an alarm system in HA allowing me to turn on and off motion tracking via an automation

[2022-10-08 13:14] bropat commented on #222
I don't think it's possible.

[2022-10-08 13:15] #222 closed

[2022-10-08 14:47] gmogoody commented on #228
Is the consensus right now the S380 has a FW bug or did Eufy close the previous APIs/Previous methods?

I use this setting through the plugin. I will wait on swapping them out for now since it’s such a pain with existing cams.

[2022-10-08 17:27] massive commented on #227
Indeed, updating to most recent eufy-security-ws seems to help. Here's my fork, with an update, that made my camera work https://github.com/massive/eufy_security_addon

Besides installing the addon, I had to restart HA to make it all work.

[2022-10-08 17:56] phairplay commented on #227
Can confirm this using this did sort out my issue, I'm now able to control my pan & tilt camera.
Thank you so much

[2022-10-09 07:06] bropat commented on #228
Can someone share the device with me with admin rights on the following email?

* patrick.broetto+testing2@gmail.com

Thanks!

[2022-10-09 07:28] bropat commented on #208
@etorr

Communication with the unit is not very stable. At the moment, the device is not accessible again. Please restart the device and share it with me at this email address:

* patrick.broetto+testing@gmail.com

PS: I have deleted the other share.

Thank you!

[2022-10-09 09:02] massive commented on #227
It's still only partially working for me. I can now control light, but motion detector sensors emit no events via HA while in Eufy app they do.

[2022-10-09 09:19] massive commented on #227
The logs have these kinds of errors:

[code]

and

[code]

[2022-10-09 09:43] michaeleberhardt commented on #228
I will give you Access 😎

[2022-10-11 17:01] Palmke commented on #228
@bropat out of curiosity, are you only adding the S380 homebase, or also the S330 eufycam 3?

[2022-10-13 12:26] mutchu commented on #228
Hi there,
I confirm that old and new generation cameras do not work in Homekit when connected to HomeBase 3.
Hope for HomeBase 3 support soon please.
Thanks

[2022-10-13 16:59] bropat commented on #228
If I find time both ;)

[2022-10-13 17:16] mutchu commented on #228
Only HomeBase 3 S380 with ring doorbell ans eufycam2

[2022-10-14 00:51] didgeriwho commented on #182
@bropat Do you still need access to this device? I have the similar model T7400 that I'd like to get working in home assistant. Right now I can see the device in HA (with a motion sensor and a streaming sensor) - but I can't get the device to unlock.

[2022-10-14 13:07] didgeriwho commented on #182
@bropat - sent to your email

[2022-10-15 21:53] witold-gren opened #231 "[Feature request]: Support for Eufy Starlight 4G (T8151)"
### Describe the solution you'd like

I have been using the plugin for years and it is amazing - it do very good job. I have two places when I don't have network access but also I needed monitor those places, so I decided bought  Eufy Starlight 4G.

I checked and alarm configuration is supported by default (so I have automation that informs me If the alarm will be triggered). Also, it will be nice

[2022-10-17 08:05] Palmke commented on #228
@bropat have you gotten access yet?
I'm waiting for this change before buying a set, but if it helps you, I can buy the set now and then give you access instead.

[2022-10-17 17:39] bropat commented on #228
@Palmke

Yes @michaeleberhardt gave me access.

Progress status:

Basic communication with the new station is now working.

[2022-10-17 17:42] bropat commented on #231
Hi @witold-gren

Thank you very much for the feedback.

I am currently working on the integration of other devices, so as soon as I have time to implement this device as well, I will get back to you here.

[2022-10-17 18:00] michaeleberhardt commented on #228
@bropat I am curious: what did you have to modify to get the station discovered via p2p?
Looking forward to the next release :-)
Thanks for your effort!

[2022-10-17 18:19] mutchu commented on #228
Great news, I can't wait to see the update so that everything works

[2022-10-18 03:31] aszymanik commented on #228
@bropat Thank you so much for you work with this integration. I see you have access to a HomeBase 3 and S330.  I have some S300s- would you like access to them? I don't know how much they differ from a S330.

Thank you so much!

[2022-10-18 15:33] bropat commented on #228
@michaeleberhardt

I didn't have to change anything regarding discovery, this part was already working correctly (since the last RC versions).
The P2P communication was not stable and error-prone, as some information is now increasingly compressed into individual data packets.

[2022-10-20 14:41] kaesi-jones commented on #228
Maybe it is also helpfull: By changing the Guard mode, I received the following error:
P2PClientProtocol.lookup(): station: T8030P2322440792 - All address lookup tentatives failed.

[2022-10-20 17:22] aszymanik opened #233 "[Feature request]: Support for S300 eufyCam (eufyCam 3C)"
### Describe the solution you'd like

The S300/S330 eufyCams are the next generation of their battery powered cameras.

Asking kindly for integration and willing to share my cameras to aid this process.

Thank you!

[2022-10-21 22:11] witold-gren commented on #231
Thank you, I you will need any help/access from my site, just let me know.

[2022-10-23 10:00] bropat commented on #228
**Update:** P2P communication for Homebase 3 and eufyCam 3 is working stable
**ToDo:** Integrate push notification for this devices

[2022-10-23 10:03] bropat commented on #228
@michaeleberhardt

I need your help to integrate push notification. You would need to generate push events for me.
Please contact me directly via email.

Thanks!

[2022-10-23 10:04] bropat commented on #233
@aszymanik

Can you share the device with me with admin rights on the following email?

* [patrick.broetto+testing2@gmail.com](mailto:patrick.broetto+testing2@gmail.com)

Thanks!

[2022-10-23 10:09] aszymanik commented on #228
How do we update? There's no recent commits on this repo on any branch. Is there somewhere further upstream I should update? eufy-security-ws hasn't had a recent update and npm/eufy-security-client is also about a month old.

Thank you for all your hard work. Looking forward to putting this to use with just a little guidance as to where to look.

[2022-10-23 10:12] bropat commented on #228
At the moment there is no new release. I am working on it. As soon as the new release is available I will announce it here.

[2022-10-23 10:13] michaeleberhardt commented on #228
@bropat , Mail sent!

[2022-10-23 10:19] aszymanik commented on #233
Thank you. Shared HB3 and 2 S300's

[2022-10-23 13:17] bropat commented on #228
**Update:** Push notifications are implemented.
**ToDo**: Start download of event videos over p2p from hb3

[2022-10-23 13:31] Palmke commented on #228
Purely out of curiousity, is the HB3 using all new kinds of command types?
I thought it was more of an upgraded and beefed up HB2 (using that firmware as a base).

[2022-10-23 13:34] bropat commented on #228
No, only some things are different or new/safer.
The majority has remained the same, i.e. the old devices can be addressed in the same way with the new HB3.

[2022-10-23 13:35] bropat commented on #228
https://support.eufylife.com/s/article/Centralize-Your-Security-Ecosystem-with-HomeBase-3

[2022-10-23 13:39] bropat commented on #233
@aszymanik

I need one more thing, namely the country in which the devices are registered.

[2022-10-23 13:46] aszymanik commented on #233
US for clarity

[2022-10-25 15:00] cbwilliamsnh commented on #207
Any idea when the next version will be released?

[2022-10-26 02:43] cadolfson commented on #226
I have tried to use the Homebride Eufy Security Plugin which leverages this library and my T8501 is detected as a Station and camera but not as a lock. Let me know if there is anything I can do to assist with getting this supported.

[2022-10-29 14:06] bropat commented on #182
@didgeriwho

I need the PIN to test some features. Could you send it to me?

Thx!

[2022-10-29 14:25] bropat commented on #208
@etorr

Could you share the device again?

[2022-10-30 17:12] bropat commented on #182
@didgeriwho

Thank you very much for sharing the device. In the next release, the device will be supported.

[2022-10-30 19:34] didgeriwho commented on #182
🙏🙏🙏

[2022-10-31 12:23] mahst68 commented on #228
Anything to recently update? Look like there was good momentum towards an solution up until last week... Any help needed? just curious!

[2022-11-01 09:46] bropat commented on #228
I work as best I can, but I have a family with children, work etc, so please be patient.
It's just a spare time project of mine. I don't use Eufy products myself anymore, but I'm still continuing the project.
Please don't ask for an ETA, because I won't name one. There will be a new version as soon as I think it is ready.

[2022-11-01 09:50] bropat commented on #228
**Short update:**

* HB3 will be partially supported in the next version. e.g. download of videos still does not work at the moment.
* eufyCam 3 will be supported in the next version

[2022-11-01 19:30] bropat commented on #204
@fabianluque

I no longer need access. Thx!

[2022-11-01 19:38] #215 closed

[2022-11-01 19:39] #233 closed

[2022-11-01 19:40] #147 closed

[2022-11-01 19:40] #173 closed

[2022-11-01 19:40] #176 closed

[2022-11-01 19:40] #182 closed

[2022-11-01 19:41] #196 closed

[2022-11-01 19:41] #204 closed

[2022-11-01 19:42] #212 closed

[2022-11-01 19:42] #227 closed

[2022-11-01 19:43] bropat commented on #228
New driver version (2.2.0) was released.

[2022-11-01 19:43] #228 closed

[2022-11-01 19:46] fabianluque commented on #204
@bropat Thank you!

[2022-11-01 23:31] eufysecurity opened #235 "[Bug]: Re-Open Motion Detection for T8420x does not work"
### Client version

0.9.4

### Node version

14.18.0

### Operating System type

Linux

### Operating system version

Linux 5 VMware

### Describe the bug

Motion Sensor is not working for T8420x. It does not pick up any motion. Motion and Person Motion.

### To reproduce

1. Create Motion on the floodlight cam.
2. get a notification on phone app
3. eufy security ws does not detect any motion

###

[2022-11-02 03:27] amosyuen commented on #176
Thanks for adding the new feature! Excited to try it out

[2022-11-02 09:10] Palmke opened #236 "[Bug]: Homebase 3 alarm armed event is incorrect"
### Client version

2.2.0

### Node version

14.18.0

### Operating System type

Docker

### Operating system version

Raspberry OS

### Describe the bug

The `alarm armed` event is incorrect in Homebase 3.

Whenver a mode switch occurs, `CMD_SET_TONE_FILE` is seen in the p2p session data.
This - for HB2 - is always seen when the alarm is armed.
However, for HB3, `CMD_GET_DELAY_ALARM` is seen when

[2022-11-02 12:27] Palmke commented on #236
It appears Homebase 3 has a bug in its firmware.
Whenever a Homebase 2's alarm delay is cancelled, an `alarm armed` event is emitted and you can trigger a sensor again.
With Homebase 3 however, cancelling the alarm delay has some faulty behaviour where you cannot start another alarm delay. After <alarm delay> time (45s in my case), the alarm is activated.

HB2:
[code]
HB3:
[code]

[2022-11-02 13:21] eufysecurity commented on #235
There is no errors in the log, but the Floodlight is missing the enable motion detection switch. If you look at line 4018 you can see that [PropertyName.DeviceMotionDetection]: DeviceMotionDetectionIndoorSoloFloodProperty, is commented out right there. and the new Floodlight GenericDeviceProperties is right below it with [PropertyName.DeviceMotionDetection]: DeviceMotionDetectionProperty, on line

[2022-11-02 15:13] Palmke opened #238 "[Feature request]: Support familiar faces on Homebase 3"
### Describe the solution you'd like

In the past I added the familiar faces to the doorbell push data.
I have taken a quick look at the code, but I'm not sure why this logic isn't working for the new Homebase 3.

The push data is correctly parsed, but I don't get a `person detected` event:
[code]
Perhaps is has to do with that in this case the event type from the notification is not `personDetect

[2022-11-02 15:16] Palmke commented on #216
Still getting these disconnects. It went from 1/3 devices last week to all 3 devices this week.
I think you should reject all the issues mentioning `Station T8410PXXXXXXXXX - Tried all hosts, no connection could be established` because it really is a eufy issue.

I'm getting timeouts when starting to stream, "network not available" notifications and just plain "Camera is offline" in the eufy Secur

[2022-11-02 17:14] Palmke commented on #235
You should be careful with what you share.
![image](https://user-images.githubusercontent.com/5384698/199556596-a2330968-f944-4cee-89c6-51f09a8a6f55.png)

[2022-11-02 17:39] bropat commented on #228
@signalshift
This project is not a plugin for Homebridge, but a driver that can be used to communicate with Eufy products.
In your case you have to ask here: https://github.com/homebridge-eufy-security/plugin

[2022-11-02 17:43] bropat commented on #216
Ok, thanks for the feedback!
Thus I also close this ;-)

[2022-11-02 17:44] #216 closed

[2022-11-02 18:26] mahst68 commented on #228
@signalshift @bropat
I have already added an issue enhancement to the eufy-security-plugin for homebridge. It is not assigned and currently not on the roadmap as of yet

[2022-11-02 19:22] eufysecurity commented on #235
thank you

[2022-11-02 20:18] bropat commented on #235
@eufysecurity

You are not on the current version of the driver (see above => `'version': '2.1.2'`).
Why do you open a bug again if you are not on the current version?
The version given above (`0.9.4`) is also wrong...
I think this is the version of the other project (`eufy-security-ws`) which is also not up to date!

[2022-11-02 20:19] #235 closed

[2022-11-02 20:21] bropat commented on #207
@cbwilliamsnh

Released yesterday

[2022-11-02 20:21] #140 closed

[2022-11-03 06:15] bropat commented on #223
@thieren

Correct.

Depending on the notification type setting (`MOST_EFFICIENT = 1, INCLUDE_THUMBNAIL = 2, FULL_EFFECT = 3`), multiple notifications arrive for the same event. Specifically, `INCLUDE_THUMBNAIL` first sends a notification of the event and then a second notification sends the image. This is why this check was introduced.
What about the Dual Doorbell when the notification type is set

[2022-11-03 16:40] bropat commented on #238
I don't think so.

[2022-11-03 18:55] yooo1999 commented on #228
@bropat Is the function [handleDataBinaryAndVideo ](https://github.com/bropat/eufy-security-client/blob/master/src/p2p/session.ts#L1246) compatible for S380 (livestream)

[2022-11-03 19:45] eufysecurity opened #239 "[Bug]: Motion Detection Switch and motion detected sensor for T8420x does not work"
### Client version

2.2.0

### Node version

14.17.0

### Operating System type

Linux

### Operating system version

Linux 5 VMware

### Describe the bug

Motion Sensor Switch is not working for T8420x. It does not pick up any motion. Motion and Person Motion. The param_type for the Motion Sensor Switch is 6040. Currently get_device_properties_metadata does not return the param_type 6040 here is

[2022-11-04 08:40] kaesi-jones commented on #228
@bropat: I'm thrilled how quickly you wrote the new driver - thanks for that!

Now I can set the state via the "guard" mode without any problems.
When I look at the log file, the station seems to log off every minute.
Any idea what this could be?

Here is the log:

eusec.0 | 2022-11-04 09:19:09.517 | info | (24061) Disconnected from station T8030P2322330784
eusec.0 | 2022-11-04 09:18:09.096 | info

[2022-11-04 12:04] bropat commented on #228
@yooo1999

Why do you ask?

[2022-11-04 12:06] bropat commented on #228
@kaesi-jones

Thanks!

The answer is simple, `ioBroker.eusec` does not yet use the new driver (version `2.2.0`). Therefore the support is not yet given.

[2022-11-04 17:58] bropat commented on #239
@eufysecurity

The Floodlight T8420 and the Floodlight T8420X have the same device type, so I have to implement a workaround for both to work. Would you be willing to share the device with me so I can implement it correctly?

[2022-11-04 18:00] eufysecurity commented on #239
Yes, what email address do I share it too?

[2022-11-04 18:40] bropat commented on #239
Thanks!
I also need the country where the device was registered.

[2022-11-04 18:41] eufysecurity commented on #239
US

[2022-11-04 20:25] bropat commented on #239
You can remove the sharing.
This device will be supported in the next release (`2.2.1`).

[2022-11-04 21:52] eufysecurity commented on #239
Thanks Pat

[2022-11-05 11:57] kaesi-jones commented on #228
O.K. - Can you already say when a new version of ioBroker.eusec is planned that supports the driver?

[2022-11-05 14:29] bropat commented on #239
Fixed in version `2.2.1`.

[2022-11-05 14:29] #239 closed

[2022-11-05 14:29] bropat commented on #236
Fixed in version `2.2.1`.

[2022-11-05 14:29] #236 closed

[2022-11-05 14:30] bropat commented on #223
Fixed in version `2.2.0`.

[2022-11-05 14:30] #223 closed

[2022-11-05 14:30] bropat commented on #238
Implemented in version `2.2.1`.

[2022-11-05 14:30] #238 closed

[2022-11-07 16:55] kevinfowler opened #240 "[Bug]: T8422 Camera Motion or Person Detection Not Working"
### Client version

2.2.2

### Node version

v16.14.0

### Operating System type

Linux

### Operating system version

Fedora 35

### Describe the bug

I am using eufy-security-ws to test.  I am having issues with a Eufy Floodlight Camera T8422.  When I start the ws server and connect to it with the ws client everything registers with Eufy ok.  It receives notifications on the server end.  However

[2022-11-09 06:06] kaesi-jones commented on #228
@bropat

I saw that you updated the driver - thanks a lot! All errors are gone.

[2022-11-09 17:39] Palmke opened #242 "[Bug]: Unable to login"
### Client version

2.2.2

### Node version

v16.18.0

### Operating System type

Docker

### Operating system version

Raspberry OS

### Describe the bug

It seems the login isn't working anymore.
When using https://mysecurity.eufylife.com/apieu/v2/passport/login I do see a proper response with a data field.
When logging into the eufy app with the configured user, everything works OK in the app,

[2022-11-09 19:49] bropat commented on #242
@Palmke

I have just carried out a test and it works perfectly. I think Eufy may have bungled some servers again.

[code]

[2022-11-09 19:52] bropat commented on #242
However, it could also be that when the token is renewed, the values are no longer returned as they were at the first login.
If you have this problem, you could try deleting the file `persistent.json` and restart the process and see if it works again (forces a new 1st login).

[2022-11-09 19:53] Palmke commented on #242
I have tested a custom Docker image and your public image, so in case of a new Docker container (with different image), this `persistent.json` file should not exist yet.

[2022-11-09 19:56] bropat commented on #242
@Palmke

I can't replicate this problem, I get the correct complete answer from the EU Eufy servers.... :(

[2022-11-09 19:57] lolouk44 commented on #242
I've tried this:
[code]
Same error. I've also tried other docker versions (1.0.1, 1.0.0, 0.9.4), so brand new setups, same error...

[2022-11-09 19:58] Palmke commented on #242
Perhaps you are talking to a different server and it's just a hiccup (strangely enough the eufy app keeps on working fine).
Maybe users are getting (shadow)banned and this data is omitted on purpose...

Can you keep the client running for a while, perhaps send some commands?

[2022-11-09 19:59] lolouk44 commented on #242
I'm going to stop the container for the night and try again tomorrow in case of too many loging failures resulting in some sort of ban...

[2022-11-09 20:02] Palmke commented on #242
Webportal endpoint works fine...

Calls `https://mysecurity.eufylife.com/apieu/v2/passport/login`

![Screenshot from 2022-11-09 20-59-33](https://user-images.githubusercontent.com/5384698/200929421-b9cec9a5-d36c-4393-b1dc-2d1d63963ab0.png)

[2022-11-09 20:02] Palmke commented on #242
Webportal endpoint works fine...

Calls `https://mysecurity.eufylife.com/apieu/v2/passport/login`

![Screenshot from 2022-11-09 20-59-33](https://user-images.githubusercontent.com/5384698/200929634-3b82fefa-69ab-46b1-a68c-a0477a4f03b0.png)

[2022-11-09 20:04] lolouk44 commented on #242
Interesting, I've clicked the above URL and I get `404 page not found` I'm based in the UK in case it makes any difference...

[2022-11-09 20:05] Palmke commented on #242
@lolouk44 it's a `POST`, not a `GET` (clicking a link is `GET`)

[2022-11-09 20:06] lolouk44 commented on #242
🤦‍♂️

[2022-11-09 20:06] bropat commented on #242
@Palmke

But in your example above you also get a correct answer including `user_id`.

[2022-11-09 20:07] bropat commented on #242
The `user_id` is needed to generate the `gtoken`:

[code]

[2022-11-09 20:07] Palmke commented on #242
@bropat yes. The webportal is working just fine. I have tried a custom Docker image calling this endpoint in the login function, but that also resulted in an absent `data` object.

[2022-11-09 20:10] bropat commented on #242
But then the important information would not be included either, namely:

https://github.com/bropat/eufy-security-client/blob/eb5c2787f0760988023d12d4fd8731bd723d5821/src/http/api.ts#L293

[2022-11-09 20:12] bropat commented on #242
@Palmke
Can you confirm that there is no `cloud_token` in your `persistent.json`?

[2022-11-09 20:15] Palmke commented on #242
Where would I find this file? In the root of the container? I can't find it either using `find | grep persistent` on `/` so I guess it's not there.

As for the lines of code you mentioned.
`dataresult` does not exist in the response. The code you're mentioning requires that data object to be present.
The web portal response is like this:
[code]

[2022-11-09 20:16] Palmke commented on #242
OK I found it, but it doesn't contain a cloud token (it's `""`).

[2022-11-09 20:18] bropat commented on #242
It could also be that Eufy starts intercepting our request and returns an "invalid" response.

[2022-11-09 20:19] bropat commented on #242
Try changing some values here:

https://github.com/bropat/eufy-security-client/blob/eb5c2787f0760988023d12d4fd8731bd723d5821/src/http/api.ts#L54-L57
https://github.com/bropat/eufy-security-client/blob/eb5c2787f0760988023d12d4fd8731bd723d5821/src/http/api.ts#L66

[2022-11-09 20:21] bropat commented on #242
Try adding:

[code]

[2022-11-09 20:26] bropat commented on #242
@Palmke
Try adding the following to the hosts file and restart the process:

[code]

I use (at the moment) this server which gives me the correct answer.

[2022-11-09 20:38] Palmke commented on #242
Changing headers does not work.

[2022-11-09 20:44] Palmke commented on #242
Okay... something changed... I added the IP to the hosts file, ran it locally and it works!

[2022-11-09 20:46] bropat commented on #242
I think some Eufy servers have problems...;)

[2022-11-09 21:00] lolouk44 commented on #242
tried to add this line to my docker-compose to no avail, in case it helps
[code]

[2022-11-09 21:01] Palmke commented on #242
Succeeded the captcha and got all my data again!

[2022-11-09 21:02] lolouk44 commented on #242
can you share how you did this?

[2022-11-09 21:03] Palmke commented on #242
Check the comment above.
https://github.com/bropat/eufy-security-client/issues/242#issuecomment-1309368303

[2022-11-09 21:09] lolouk44 commented on #242
Brilliant, for others in the same situation, I just added an environment var in my docker-compose file
[code]

[2022-11-09 21:10] lolouk44 commented on #242
Oh and I didn't see any captcha in the docker logs :)

[2022-11-09 21:10] Morphy99 commented on #242
This isn't possible with HASS addon is it?

[2022-11-09 21:10] Palmke commented on #242
That's because I've been tinkering all evening trying to figure this sh*t out xD

[2022-11-10 04:13] rjing001 commented on #242
So how do we fix it if we're running the HASS addon?!

[2022-11-10 05:21] fuatakgun commented on #242
Any random value would be fine?

[2022-11-10 06:01] dfournie commented on #242
@fuatakgun it seems to be the workaround. I've tried this in the evening yesterday, and the server was able to login again. It works with your Home Assistant integration. Maybe no related but I've observe another error after login:

`
 ERROR Invalid Property wifiSignalLevel error
`

[2022-11-10 06:50] bropat commented on #242
@Palmke

The `trustedDeviceName` setting sets the header property `PhoneModel` in the background. I intended this setting to be adjustable because if you use the 2FA, the value set here will then appear under Trusted Devices in the Eufy App. This makes it easier to identify where it comes from.
This setting can also be set in the `eufy-security-ws` project (it is also already provided in the Docke

[2022-11-10 06:51] bropat commented on #242
I think the problem here is simply that no one has set this value themselves and so the default value I have provided is used. This made it very easy for Eufy to intervene...

[2022-11-10 07:10] Palmke commented on #242
The main and only concern here is that eufy started to intervene with this client.
This measure is easily circumvented, but what's next? How long until the next countermeasure, and most importantly, when will one be of a kind we cannot circumvent?

I know what I'd do... sell all of my eufy products and get cameras with proper API's!

[2022-11-10 18:10] naikn05 commented on #242
How would you fix this issue on HASS ?

[2022-11-10 18:26] lolouk44 commented on #242
@fuatakgun  would need to build a new version of the add-on I'm afraid

[2022-11-10 18:27] fuatakgun commented on #242
i am working on this

[2022-11-10 22:09] TaZZaT commented on #242
Thanks for all the clues...  I have been using the bropat/eufy-security-ws for quite a while and it's awesome.  I wanted share what I had to do to fix the issue in case it helps someone else.

First, I don't use docker. I start the service as follows from a systctl script using ts-node:
e.g. ts-node /opt/eufy-security-ws/src/bin/server.ts --config config.json

Based on what I read above, I changed

[2022-11-11 12:25] dastorie commented on #226
Happy to share access to my lock, when you have time.  Thanks!

[2022-11-11 22:39] fulviofreitas commented on #219
How should we share the device with you? I may send one for you if you need it.

[2022-11-12 15:01] bropat commented on #242
In the next version, if you do not set the parameter `trustedDeviceName`, a random model of an existing Android phone will simply be set and kept at the first login. This way, not so many people should use "eufyclient" (default value).
If someone subsequently sets the above-mentioned parameter anyway, then this will of course take precedence.

**Attention:** If someone uses the 2FA and changes thi

[2022-11-12 16:15] #207 closed

[2022-11-12 16:17] #213 closed

[2022-11-12 16:23] bropat commented on #240
@kevinfowler

I also need the line that starts with `Raw push message received`.

[2022-11-12 22:14] kevinfowler commented on #240
Thanks for the follow-up.  I had to do the random trustedDeviceName change mentioned in the other #242 issue to get it working again.  But here is the Raw push message received when there is motion on the camera:

2022-11-12 22:06:08.481  DEBUG [eufy-security-client/src/push/service.ts:493  PushNotificationService.onMessage] Raw push message received
{
  id: '67AF5600',
  from: '348804314802',
  t

[2022-11-13 00:29] oNSXo opened #243 "[Bug]: Enabled property change via Eufy app doesn't emit a "property changed" event during the next poll_refresh"
### Client version

2.2.3

### Node version

16.14.2

### Operating System type

Docker

### Operating system version

Docker img

### Describe the bug

If I disable or enable a camera via the Eufy Security app, I don't see any events emitted for that particular property if I attempt a `poll_refresh`.  Whenever I attempt a `poll_refresh`, I'm just seeing the `pictureUrl` property changed event com

[2022-11-13 13:49] bropat commented on #243
I need the log files where you reproduced the problem.
Furthermore, eufy handles the activation/deactivation differently depending on the device. Here you did not even provide this information.
So I can not help you.

[2022-11-13 13:49] #242 closed

[2022-11-13 13:53] bropat commented on #240
@kevinfowler

You wrote above that you use `eufy-security-ws`. Which version?

[2022-11-13 13:54] #224 closed

[2022-11-13 13:57] bropat commented on #218
This type of error can also occur if the P2P command sent is not correct. In order to understand and solve the problem, I need to have access to this device.

Let me know if you want to share the device with me.

[2022-11-13 14:57] oNSXo commented on #243
I've attached  the debug log of eufy-security.  The camera is a eufyCam 2C Pro.

A wscat output looks like the following:
`
╰─ .\wscat -c ws://192.168.2.136:3000                                                                                                                                                       ─╯ Connected (press CTRL+C to quit)
< {"type":"version","driverVersion":"2.2.2","serverV

[2022-11-13 15:41] Palmke opened #244 "[Bug]: Motion detected notification not correctly handled for eufycam 2 on HB3"
### Client version

2.2.3

### Node version

v16.18.0

### Operating System type

Docker

### Operating system version

Raspberry OS

### Describe the bug

It appears that notifications from a eufycam 2 (Pro) connected to a HB3 are not processed correctly.

### To reproduce

1. Attach Eufycam2 to HB3
2. Trigger motion
3. Observe no 'motion detected' event is emitted

### Screenshots & Logfiles

[c

[2022-11-13 15:48] Palmke commented on #244
@bropat I see the source is correct, but still find it strange I'm not getting an event :p
Will try later with the latest version of the client and re-open if still applicable.

[2022-11-13 15:49] quorea commented on #218
How can I share access?Best regards,NanaOn Nov 13, 2022, at 08:57, bropat ***@***.***> wrote:﻿
This type of error can also occur if the P2P command sent is not correct. In order to understand and solve the problem, I need to have access to this device.
Let me know if you want to share the device with me.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this becau

[2022-11-13 16:38] kevinfowler commented on #240
I normally use this library via the home assistant eufy-security plugin and the eufy-security-ws container.  However, I have been testing it with running eufy-security-ws server and client manually with the latest version 1.1.0.

[2022-11-13 16:44] fuatakgun commented on #240
By the way, i have updated home assistant addon to latest version of eufy-security-ws

[2022-11-13 17:10] quorea commented on #218
yes I can sshare the device with you.   how do you want me to do it?

[2022-11-13 19:31] bropat commented on #218
Share the device via the eufy app with admin rights for the following account:

* patrick.broetto+us1@gmail.com

I will have a look at it tomorrow.

[2022-11-14 17:18] bropat commented on #218
This device is not supported at the moment. Will implement it.

[2022-11-14 20:51] Palmke commented on #244
Still applicable. eufycam 2 Pro notification is received in the client, but not handled.

[2022-11-15 13:26] quorea commented on #218
Thanks, bropat.

[2022-11-16 14:01] tyware opened #247 "[Bug]: Token error"
### Client version

1.5.0

### Node version

18.11.0

### Operating System type

Windows

### Operating system version

Win10

### Describe the bug

2022-11-16 13:39:03.917  INFO Authentication properties changed, invalidate saved cloud token.
2022-11-16 13:39:03.936  INFO Eufy Security server listening on port 3000
2022-11-16 13:39:06.260  ERROR Generic Error:
 TypeError  Cannot read properties o

[2022-11-16 19:42] witold-gren commented on #231
Hey 😀 How can I share access with my device to you? Which email I should use to share device with you?

[2022-11-17 10:09] tiko7426 commented on #208
Do you still need access to one? I just got one I'd be happy to share

[2022-11-17 20:19] henningms opened #249 "[Question]: Is it possible to pan and tilt the Indoor Camera 2K Pan & Tilt?"
### Ask your question

Hi there,

I have a Eufy Indoor Cam 2K Pan & Tilt and was wondering if there is a way to instruct the camera to pan/tilt like in the Eufy app?

Thanks for your hard work!

[2022-11-17 20:24] henningms commented on #249
Seems like I can do it with the very obvious panAndTilt method in station.ts/device.ts/eufysecurity.ts -- I missed that when glancing over it.

[2022-11-17 22:01] timmy8784 opened #250 "[Bug]: Eufy login stuck at captcha screen"
### Client version

1.5.1

### Node version

18.12.1

### Operating System type

Other

### Operating system version

Raspbian 11

### Describe the bug

Had issues with eufy security version 2.1.2 and could not login. Deleted everything and upgraded to new 2.1.3. Login takes me to captcha screen but verify spins forever until force close. Going back into plug in settings shows devices but plugin n

[2022-11-18 14:19] fishingpatrol commented on #231
@bropat @witold-gren - I have this camera setup and willing to share the connection as well.

[2022-11-18 23:30] azavisha commented on #1
@bropat Can you please explain the difference between `Device.updateProperty` and `Device.setParameters`? It looks like only `setParameters` can be used to actually change some device settings. If that is the case, what is the purpose of `updateProperty` if it doesn't do anything useful?

[2022-11-19 08:03] thieren commented on #250
Hey @timmy8784

the error might be produced by this library, but the captcha screen and config-ui log have nothing to do with this repo.
Please provide the specific log that's produced by this library. You'll find it in the plugins data path as `eufy-log.log`

I think @bropat will need this to address the issue.

[2022-11-19 16:35] timmy8784 commented on #250
Hello and thaks for the reply!

I downloaded the logs from the plug-in and the file titled eufy-log is empty. Only the other two files configui-server and log-lib has information in it. Is there something I'm missing?

Thanks!

[2022-11-19 17:25] thieren commented on #250
@timmy8784

You'll have to [enable debug logging](https://github.com/homebridge-eufy-security/plugin/wiki/Basic-Troubleshooting#enable-logging) first and restart the plugin. After that the log file should display some messages.
The `config-ui.log` could also contain the needed information, but I think it's better to go with the plain `eufy-log.log`.

[2022-11-19 17:29] timmy8784 commented on #250
Ah ok got it now!

Here is the eufy log. Thanks!

2022-11-19 17:27:10.053  DEBUG [undefined.constructor] Loaded API_BASE: https://security-app.eufylife.com
2022-11-19 17:27:10.260  DEBUG [EufySecurity._initializeInternals] Load previous login_hash: 311128a3ab878d27e98b4f68914aa64e
2022-11-19 17:27:11.032  DEBUG [HTTPApi.login] Login and get an access token
{
  token: null,
  tokenExpiration: null

[2022-11-19 18:41] #247 closed

[2022-11-20 03:26] buzurk26 commented on #242
How do you edit this file when your using supervised HA and eufy addon all via hacs?

[2022-11-20 05:45] fuatakgun commented on #242
Please check eufy_security repository for the issue and how to edit the parameters

[2022-11-20 10:22] Palmke commented on #250
What is your configuration? What is the value of `trustedDeviceName`?

[2022-11-20 11:24] thieren commented on #250
Hi @Palmke

According to the description he uses the plugin version `2.1.3` which itself is running on eufy-security-client `2.2.3` (so the latest).

If I'm not mistaken if the `trustedDeviceName` is left empty the new version will choose one at random, right?
But @timmy8784 can himself say if he has changed that value.

[2022-11-20 11:33] Palmke commented on #250
Yes but only if it is not set already. The error looks to be the same I reported last week.

[2022-11-20 11:38] thieren commented on #250
Ah, now I'm with you.

Deleting the `persistent.json` should do the trick, if this is indeed already set to the old value, right?

@timmy8784 can you do that as a test? Deleting the `persistent.json` and try login in again. (In the plugin config is a button `Remove everything` which should do the trick, but double check for good measure.)

[2022-11-20 13:26] bropat commented on #218
@quorea

You can remove the sharing.
This device will be supported in the next version (`2.3.0`).

[2022-11-20 13:33] bropat commented on #250
@timmy8784

The first error was fixed with #246.

@thieren

The `trustedDeviceName` parameter is a setting of the driver and is not stored in the `persistent.json` file.

Only if not set. An empty string is still accepted in the current version and can lead to login problems. In the next version (`2.3.0`), an empty string will also lead to the fallback mechanism.

When the fallback mechanism has t

[2022-11-20 13:34] bropat commented on #250
In this case, I expect that there is no `fallbackTrustedDeviceName` parameter in the `persistent.json` file.
Otherwise, the above error should not occur.

[2022-11-20 13:38] bropat commented on #244
@Palmke

The `motionDetected` property of the unit, on the other hand, works?
Or neither?

[2022-11-20 13:44] bropat commented on #243
You forgot to set the schema version as described [here](https://bropat.github.io/eufy-security-ws/#/api_introduction?id=schema-version).
If you do not set it, version `0` is assumed, although it is easily possible that there was still an error with this version.

[2022-11-20 13:56] bropat commented on #240
Will be fixed in the next version (`2.3.0`).

[2022-11-20 13:59] bropat commented on #209
@billyj85

* patrick.broetto+testing2@gmail.com

[2022-11-20 14:01] bropat commented on #219
You can simply share it with me from the Eufy app with admin rights on the following account:

* patrick.broetto+us1@gmail.com

[2022-11-20 14:04] bropat commented on #231
@witold-gren or @fishingpatrol

You can share it on the following account:

* patrick.broetto+eu1@siag.it

[2022-11-20 17:13] timmy8784 commented on #250
I have done the "remove everything" at least a dozen times or so and have the same issue. I've also tried adding a name in the device name field and also leaving it blank. No matter what I try I still run into the same issue

[2022-11-21 03:53] timmy8784 commented on #250
I tried to reset again and still same issues. I went to plug-in settings and did the remove everything option. I then deleted the plug-in and reinstalled the latest 2.1.3 version and still gets stuck at login.

[2022-11-21 04:09] smitty078 opened #251 "[Bug]: T8420 fails to start livestream after latest Eufy firmware (1.0.0.40)"
### Client version

2.2.3

### Node version

16.17.1

### Operating System type

Mac OS X

### Operating system version

10.15.7

### Describe the bug

T8420 fails to start livestream after latest Eufy firmware (1.0.0.40) released on or around 11/15.

It appears that for some reason this firmware (1.0.0.40) passes the (0, utils_1.isGreaterEqualMinVersion)("2.0.4.8", this.getSoftwareVersion()) test

[2022-11-21 06:20] smitty078 commented on #251
Root cause of this issue is incorrect version comparison that cannot accurately resolve 1.0.0.40 as less than 2.0.4.8 because multi-digit version numbers are not accounted for. Implementing PR [252](https://github.com/bropat/eufy-security-client/pull/252) resolves this.

[2022-11-21 14:19] fishingpatrol commented on #231
@bropat - I emailed you the info for my setup.

[2022-11-23 07:55] timmy8784 commented on #250
Any update on this?

[2022-11-24 11:14] thieren opened #256 "[Bug]: Sequence number reset (Maximum->0) can lead to unexpected behaviour on certain network conditions"
### Client version

newest

### Node version

all

### Operating System type

Other

### Operating system version

all

### Describe the bug

The current implementation of queueing messages can fail if it encounters a sequence number overflow (aka reseting the sequence number back to zero).

Assume the following scenario: The sequence number has almost reached the maximum, say 65540, and due to ne

[2022-11-25 01:03] tyware opened #257 "[Bug]: downloaded video data is not correct for recent-bought cam"
### Client version

2.2.3

### Node version

1811.0

### Operating System type

Linux

### Operating system version

Raspberry Pi 4B

### Describe the bug

The downloaded video data from recent-bought cam cannot be recognized by ffmpeg. It works well for older eufy cam.

I had found the root cause. The signCode should be UInt8 rather than Int8 in function parseDataMessage of session.js (readUInt8

[2022-11-25 08:32] witold-gren commented on #231
Thank's @fishingpatrol - I was unavailable last few days and I read this info now. @bropat If you still need access to my devices let me know.. 😀

[2022-11-25 20:20] thieren opened #258 "[Bug]: not able to stream due to lost packages at end of last stream"
### Client version

latest

### Node version

all

### Operating System type

Other

### Operating system version

all

### Describe the bug

If packets are lost at the end of a stream the client cannot keep track of the correct sequence number. Therefore any attempt at streaming after that will fail, since the client always expects a sequence number which will 'never' be reached (until the sequen

[2022-11-26 08:52] bropat commented on #256
Good Work! You explained it very well.

[2022-11-26 08:54] bropat commented on #256
Pull request #255 merged.

[2022-11-26 08:54] #256 closed

[2022-11-26 10:24] #243 closed

[2022-11-26 10:29] #251 closed

[2022-11-26 10:31] #218 closed

[2022-11-26 10:31] #240 closed

[2022-11-26 10:32] bropat commented on #257
Fixed in version `2.3.0`.

[2022-11-26 10:32] #257 closed

[2022-11-26 10:32] bropat commented on #258
Fixed in version `2.3.0`.

[2022-11-26 11:04] thieren commented on #258
Thx!

Will test with new version and see if it happens again.

Seems like I'll have to look into my network performance with all those lost packets, but at least it helped finding a few minor bugs. :-)

[2022-11-26 11:58] quorea commented on #218
thanks  much, bropat. much appreciated

[2022-11-26 18:49] thieren commented on #258
Hi! Not exactly the same issue, but could you have a quick look at the log output here: https://github.com/homebridge-eufy-security/plugin/issues/229 ?

It seems that the new Homebridge version (1.6.0) breaks something with the network and the sequence number jumps wildly back after streaming a couple of seconds. Have you seen something like this before?

Still waiting for confirmation that this i

[2022-11-26 19:49] thieren commented on #258
Unfortunately did just experience this with Homebridge `1.5.1` also. This version worked fine until now.
I thought `1.6.0` fails much sooner, but could also have been coincidence. Will have to look into this.

Now I wonder if this has something to do with the latest changes.

For now it seems that the station begins to spam 'old' packets - maybe because it did not get the ACKs in time. But it seem

[2022-11-27 16:04] bropat commented on #258
yes I think so too.

After the 5 seconds timeout, the stream is currently only terminated internally, i.e. no more video data is accepted, but no stop livestream command is sent.
This is still on my to-do list, see here:

https://github.com/bropat/eufy-security-client/blob/4d2684e56757b60c2c8afa1ff5c4df75016c6fac/src/p2p/session.ts#L983

Therefore, the behaviour described above is correct at the m

[2022-11-28 13:15] Palmke opened #259 "[Bug]: Client will be broken soon"
### Client version

n.a.

### Node version

n.a.

### Operating System type

Other

### Operating system version

n.a.

### Describe the bug

Currently tracking the work of https://mobile.twitter.com/Paul_Reviews, he states requests from the web portal are now encrypted.
I noticed on mysecurity.eufylife.com that indeed the responses of `get_hub_list`, `get_devs_list` and `get_webrtc_configuration`

[2022-11-28 13:29] Palmke commented on #259
@martijnpoppen You're a front-end developer, right?
Can't you look in the code of the webportal to see if you can find some decryption logic?

[2022-11-28 14:06] martijnpoppen commented on #259
As far as I see this is a encryption made with crypto.

So you need a secret key to unlock this.
I did the same for multiple of my apps.

Example:
![image](https://user-images.githubusercontent.com/7694138/204296416-996938db-0d44-478a-bd07-82187ba9dd2f.png)

 After digging into the js of the mysecurity portal:

![image](https://user-images.githubusercontent.com/7694138/204296587-07243ebf-48df-4375

[2022-11-28 14:11] martijnpoppen commented on #259
Ok got the key.
It's in the login response.

Will try to decrypt the response.

[2022-11-28 14:22] Palmke commented on #259
lol this is so stupid.

Great work tho :-)

[2022-11-28 16:25] bropat commented on #259
FYI: This client uses the Cloud API of the Android app and not the Web Portal (different APIs).

[2022-11-28 16:28] Palmke commented on #259
That's still unencrypted? Regardless good to know they're again hammering down the API.

[2022-11-28 16:33] bropat commented on #259
Today a new version of the Android app was released (`v4.5.0_1510`). I will have a look at it...

[2022-11-28 16:39] martijnpoppen commented on #259
Did make some progress on the decryption part. Will post a snippet once I have that working.

Nice good to know @bropat  :)
Only the login is the same right ? the v2 login?

[2022-11-28 16:52] bropat commented on #259
In the new version it looks like nothing has changed ;)

Honestly, I don't know, as I have never looked at the web portal :D
What I can say is that the client already uses the latest APIs for authentication and that the latest Android app version still uses the same calls.

e.g.:

POST /v2/passport/login_sec HTTP/2
[code]

Response:
[code]

[2022-11-28 16:58] martijnpoppen commented on #259
Nice!
I won't expect that they'll encrypt the APP responses too. I think it was mainly due to this topic that they blocked encrypted it for the web version.

topic: https://community.security.eufy.com/t/privacy-quick-video-to-show-eufy-are-lying-about-devices-being-private-locally-stored-theyre-not/3527511

[2022-11-28 17:18] bropat commented on #259
I agree with you.

[2022-11-28 17:21] Palmke commented on #259
Cool, then that's settled for now. Apologies for stirring the kettle, though I do think we should keep an eye out for changes in the API.

[2022-11-28 17:21] #259 closed

[2022-11-28 18:26] fulviofreitas commented on #219
done ✅

[2022-11-28 19:56] ajaymdesai commented on #219
@bropat I'm interested in this feature. I'm also a developer so I can help out if you need some coding help. I have two of these devices.

[2022-11-29 22:48] tgryphon opened #261 "[Feature request]: Add support for T8790 SmartDrop"
### Describe the solution you'd like

Looks like I might be the only one trying to use a SmartDrop with HA... getting invalid DEVICE_TYPE.
Here's the error log from the integration for this device:

`Exception - process_messages: 90 is not a valid DEVICE_TYPE - traceback: Traceback (most recent call last): File "/config/custom_components/eufy_security/websocket.py", line 57, in process_messages aw

[2022-11-30 19:43] Palmke commented on #244
I am unfortunately not in possession of a eufycam 2 anymore. Therefore I cannot continue providing information regarding this issue.

[2022-11-30 19:43] #244 closed

[2022-11-30 19:49] thieren commented on #258
After testing a few days I would say this works now as expected. At least I didn't experience any stream related hiccups anymore since I improved the network performance.

I am curious though if there is something that can be done about the errors I've encountered, since I properly won't be the only user with bad connection issues. And to some it might not be that obvious that this is a network is

[2022-11-30 20:44] dffitch opened #263 "[Question]: Send audio file via talkback to Eufy 2C camera?"
### Ask your question

Successfully using eufy-security-ws from node red, I have been looking at the "Send talkback audio data" command.
I have recently moved to a Greek speaking part of the world and am still learning the language.  I wondered  if there is any way to send a pre recorded message to the camera when a person detected occurs.  Thanks in advance